# Database
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# JWT Secrets
JWT_SECRET="your-secret-key-here-change-in-production"
JWT_REFRESH_SECRET="your-refresh-secret-key-here-change-in-production"

# Server
PORT="3000"
NODE_ENV="production"

# CORS Configuration (comma-separated origins)
CORS_ORIGINS="http://localhost:3000,https://scituinsk.com"


# Log Level options: error, warn, info, debug
LOG_LEVEL=debug


# S3 Configuration
S3_ENDPOINT="is3.cloudhost.id"
S3_BUCKET="nama_bucket_anda"
S3_REGION=auto
S3_ACCESS_KEY="akses_key_anda"
S3_SECRET_KEY="secret_key_anda"

